In [1]:
import pandas as pd

In [8]:
data_path = "../MovieSummaries/"

df_movies = pd.read_csv("./MovieSummaries/movie.metadata.tsv",sep="\t" , names = ['wiki_id', 'freebase_id', 'name', 'release_date', 'bor', 'runtime', 'languages', 'countries','genre'])


df_characters = pd.read_csv("./MovieSummaries/character.metadata.tsv",sep="\t",names=['wiki_id', 'freebase_movie_id', 'dor', 'character_name', 'actor_dob',
                               'actor_gender', 'actor_height', 'actor_ethnicity', 'actor_name', 
                               'actor_age', 'map1', 'map2', 'map3'])

df_movies.head()

,wiki_id,freebase_id,name,release_date,bor,runtime,languages,countries,genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [9]:
#only keeping features from df_movies that are relevant to our datasstory
movie_columns_to_include = ['wiki_id', 'name','release_date','bor','runtime','countries','genre']
relevant_movie_features = df_movies[movie_columns_to_include].copy()

In [45]:
""" #only keeping/building features from df_characters that are relevant to our datastory 



   
    
    
#number of actors in each movie
nb_actors_per_movie = df_characters.groupby("wiki_id").size()

#average experience in each movie (average of how many movies each actor has stared in)
def average_experience(df_movie):
    name_idx = df_movie["actor_name"].dropna()
    avg_experience_per_movie = experience_per_actors[name_idx].mean()
    return avg_experience_per_movie


experience_per_actors = df_characters.groupby("actor_name").size()
avg_experience = experience_per_actors.mean()

avg_actor_experience_per_movie = df_characters.groupby("wiki_id").apply(average_experience)

#The ratio of male to female actors in each movie
nb_genders = df_characters.groupby(["wiki_id","actor_gender"]).size()
gender_ratio= (nb_genders.xs('M', level='actor_gender') / nb_actors_per_movie).fillna(0)
 """
#age ratio for young actors 
def get_age_ratio_young(actor_age_series):
    actor_age_series_no_na = actor_age_series.dropna()
    nb_actors = actor_age_series_no_na.size
    nb_young_actor = actor_age_series_no_na[actor_age_series_no_na <= 18].size

    return nb_young_actor/nb_actors


age_ratio_young = df_characters.groupby("wiki_id")["actor_age"].apply(get_age_ratio_young)

ZeroDivisionError: division by zero

In [39]:


nan_percentage = df_movies["bor"].isna().mean() * 100
print(nan_percentage)

89.72241592346558